# API keys and secrets
.env
config.js

# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Build files
dist/
build/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db